" https://github.com/JetBrains/ideavim
set nowrapscan
set hlsearch
set incsearch

" ヤンクでクリップボードにコピー
" set clipboard=unnamed

" 検索ジャンプしたとき画面中央に表示する
map n nzz
map N Nzz

" *で検索したとき元の文字から始める
map * *N

" ハイフン区切りも単語扱いにする
set iskeyword+=-

" エディタタブ間の移動
map tl :action NextTab<CR>
map th :action PreviousTab<CR>

" vimと同じ文字列補完は <A-/>
" :actionlist でショートカットなど確認できる


" ---------------------------------------------------------------------
" いくつかのプラグインと同じ機能が実装されている
" https://github.com/JetBrains/ideavim/wiki/Emulated-plugins
"

" ,,f<文字> や ,,w ,,b で表示して飛ぶ
let mapleader=","
set easymotion

set NERDTree
  map ,f :NERDTreeFind<CR>

" 括弧で囲んだり
" https://qiita.com/gesutaka/items/e1160f907f664445d45a
" ビジュアルモードで選択して
" S" や S' で囲む
" ) でスペースなし ( でスペースありで囲む
" 囲み文字の変更 cs'" で'を"に変更
set surround

" <A-n> でカーソルを増やしたあと v で確定
" <A-x> で <A-n> のカーソルをスキップ
" :sの置換と変わらない気がする
set multiple-cursors

" commentary.vim風にコメント化する
" ビジュアルモードでgc
set commentary

" ヤンク時にハイライトする
set highlightedyank

" マルチカーソル
" option+nしか効かないような気がする
" vscodeのほど便利ではないので使わない
" set multiple-cursors
