" https://github.com/JetBrains/ideavim
set nowrapscan
set hlsearch
set incsearch

" commentary.vim風にコメント化する
" ビジュアルモードでgc
set commentary

" ヤンクでクリップボードにコピー
" set clipboard=unnamed

" 検索ジャンプしたとき画面中央に表示する
map n nzz
map N Nzz

" ハイフン区切りも単語扱いにする
set iskeyword+=-

" エディタタブ間の移動
map tl :action NextTab<CR>
map th :action PreviousTab<CR>

" vimと同じ文字列補完は <A-/>
" :actionlist でショートカットなど確認できる
