" https://github.com/JetBrains/ideavim
set nowrapscan
set hlsearch
set incsearch

" ヤンクでクリップボードにコピー
" set clipboard=unnamed

" 検索ジャンプしたとき画面中央に表示する
map n nzz
map N Nzz

" ハイフン区切りも単語扱いにする
set iskeyword+=-

" エディタタブ間の移動
map tl :action NextTab<CR>
map th :action PreviousTab<CR>

" vimと同じ文字列補完は <A-/>
" :actionlist でショートカットなど確認できる


" いくつかのプラグインと同じ機能が実装されている
" https://github.com/JetBrains/ideavim/wiki/Emulated-plugins
"
" 括弧で囲んだり
" https://qiita.com/gesutaka/items/e1160f907f664445d45a
" ビジュアルモードで選択して
" S" や S' で囲む
" ) でスペースなし ( でスペースありで囲む
" 囲み文字の変更 cs'" で'を"に変更
set surround

set NERDTree
  map ,f :NERDTreeFind<CR>

" commentary.vim風にコメント化する
" ビジュアルモードでgc
set commentary
